table#yebab-albums-list {
  margin: 6px auto !important;
  width: 94%;
}

td.yebab-albums-cell {
  text-align: center;
  max-width: 128px;
}

div.shop_images_list_count {padding: 5px;}

td.yebab-albums-cell div.album_term_thumb {
  width: 128px;
  max-width: 128px;
  text-align: center;
  margin-top: 20px;
}

td.yebab-albums-cell div.yebab_image_mini_thumb {
  width: 80px;
  max-width: 80px;
  text-align: center;
  margin-top: 5px;
}

td.yebab-albums-cell img {
  clear: both;
  border: 1px solid #d5d5d5;
  padding: 3px;
  margin: 0 auto;
  background: #FFF;
}

td.yebab-albums-cell a:hover {
  text-decoration: none;
}
